a, a:link, a:visited, a:hover, a:active {

    color: darkblue;
    cursor: pointer;
    text-decoration-line: underline;

}

td {

    padding: 10px;

}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#Nou_personatge img {

    width: 10%;

}
