.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.cc {
    align-items: center;
    justify-content: center;
}

body {

    width: 100%;
    height: 100%;
    margin: 0;

    background-image: url(imagenes/wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    color: white;
    font-family: sans-serif;

}

a, a:link, a:visited, a:hover {

    color: cornflowerblue;
    cursor: pointer;
    text-decoration-line: underline;

}

td {

    padding: 15px;

}

table {
    border-spacing: 0;
}

#Nou_personatge img {

    width: 10%;

}

.Taula{
    margin: auto;
    margin-top: 5%;
    padding: 25px;

    border: 5px solid black;
    background-color: rgb(0, 0, 0, 0.94);
}

button{

    padding: 11px 13px;
    background-color: white;
    border-radius: 2px;
    border: 3px solid white;

    font-weight: bold;
    font-size: 15px;

    cursor: pointer;

}

.Taula button{

    margin-top: 10px;

}

button:hover {

    background-color: black;
    color: white;

}

th {

    padding: 10px;
    font-size: 20px;

}

.defTr:hover{

    background-color: grey;
    color: black;

}

.defTr:hover a {

    color: white;

}

.defTr:hover a:active {
    color: black;
}

.actualitza, .nou_personatge {

    width: 37%;

    margin: auto;
    margin-top: 3%;
    padding: 10px;
    border: 5px solid black;

    background-color: rgb(0, 0, 0, 0.9);
}

.nou_personatge button, .actualitza button, .divBtns button{

    margin-left: 20%;

}

.actualitza div, .nou_personatge div{

    width: 100%;

}

table {

    text-align: center;
    width:  100%;

}

.divBtns {
    width: 100%;
}

.prohibit {
    cursor: no-drop;
}
