.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.cc {
    align-items: center;
    justify-content: center;
}

body {

    background-image: url(imagenes/wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    color: white;
    font-family: sans-serif;

}

a, a:link, a:visited, a:hover, a:active {

    color: cornflowerblue;
    cursor: pointer;
    text-decoration-line: underline;

}

td {

    padding: 15px;

}

table {
    border-spacing: 0;
}

#Nou_personatge img {

    width: 10%;

}

.Taula{
    margin: auto;
    margin-top: 5%;
    padding: 25px;

    border: 5px solid black;
    background-color: rgb(0, 0, 0, 0.94);
}

button{

    padding: 12px 16px;
    background-color: white;
    border-radius: 2px;
    border: 3px solid white;

    font-weight: bold;
    font-size: 15px;

    cursor: pointer;

}

button:hover {

    background-color: black;
    color: white;

}

th {

    padding: 10px;
    font-size: 20px;

}

.tr-change {

    background-color: grey;
    color: black;

}

.nou_personatge {

    margin: auto;
    padding: 10px;
    border: 5px solid black;

    background-color: rgb(0, 0, 0, 0.93);

}

.nou_personatge button{

    margin-left: 20%;

}

.actualitza {

    width: 37%;

    margin: auto;
    padding: 10px;
    border: 5px solid black;

    background-color: rgb(0, 0, 0, 0.9);
}

.actualitza div{

    width: 100%;

}
